body {
  background: black;
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue;
  overflow: hidden;
  /* this will hide the scrollbar in mozilla based browsers */
  overflow: -moz-scrollbars-none;
  /* this will hide the scrollbar in internet explorers */
  -ms-overflow-style: none;
}

body:-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.wheel {
  overflow: auto;
  /* this will hide the scrollbar in mozilla based browsers */
  overflow: -moz-scrollbars-none;
  /* this will hide the scrollbar in internet explorers */
  -ms-overflow-style: none;
}

.container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.item {
  color: black;
}

.white-box {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  position: fixed;
  height: 30px;
  width: 100%;
  left: 0;
  right: 0;
  top: 60px;
  z-index: 10;
}

@keyframes bannerMoving {
  0% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
  }
  50% {
    transform: translate(-800px, 0);
    -webkit-transform: translate(-800px, 0);
    -moz-transform: translate(-800px, 0);
    -o-transform: translate(-800px, 0);
    -ms-transform: translate(-800px, 0);
  }
  100% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
  }
}

.banner-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  overflow-y: scroll;
  position: fixed;
  bottom: 0;
  background: white;
  width: 200%;
  animation: bannerMoving 10s ease-in-out infinite;
}

.page-container {
  color: white;
  padding: 5px;
}

.text-container {
  padding-left: 50px;
}

@media (max-width: 700px) {
  h1 {
    font-size: 18px;
  }
  .fixed-side {
    position: absolute;
    left: 5px;
    top: 20px;
    transform: rotate(90deg);
    width: 5vh;
    font-size: 22px;
  }

  .code-image {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .code-page-container {
    color: white;
    padding: 5px;
    margin-top: 50px;
    position: relative;
  }
}

@media (min-width: 700px) {
  h1 {
    font-size: 28px;
  }
  .fixed-side {
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(90deg);
    width: 5vh;
    font-size: 2px;
  }

  .code-page-container {
    color: white;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 10%;
    right: 5px;
    left: 0;
  }
  .code-image {
    width: 50%;
  }
}
